<div id="AboutContentContainer">
  <div id="style-9" class="about-content-wrapper">
    <div class="row text-center">
      <div class="col-xs-12">
        <div id="AboutJumbotron">
          <div class="jumbotron">
            <h1 class="text-center">ABOUT</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <section id="history">
        <div class="row">
          <div class="col-xs-4">
            <img class="img-responsive" src="/images/whoami.jpeg">
          </div>
          <div class="col-xs-8 text-center">
            <h1>Jordan Franzino</h1>
            <p style="font-size:18px;">
            ​Jordan Franzino is a young recording/mix engineer with a passion for helping artists capture that sound which is essential to their creative process, as well as delivering a professional edge to their recordings, every time. Jordan is a graduate of the School of Audio Engineering and has worked in a variety of studios throughout New York with a diverse range of musicians. He understands that your project is essentially your baby and he treats each and every one with that level of respect. 
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>