<div id="BlogContentContainer">
  <div id="style-9" class="blog-content-wrapper">
    <div class="row text-center">
      <div class="col-xs-8">
        <div id="BlogJumbotron" class="jumbotron">
          <h1 class="text-center">WORK</h1>
        </div>
      </div>
    </div>
    <div class="container" style="background:white;">
      <div class="row">  
        <iframe width="100%" height="166" scrolling="no" frameborder="no"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/293&amp;{ ADD YOUR PARAMETERS HERE }">
        </iframe>
      </div>
    </div>
  </div>
</div>